@use "/src/styles" as *;

.repositories-grid {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @include vp-1023 {
    grid-template-columns: repeat(3, 1fr);
  }

  @include vp-767 {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 550px) {
    grid-template-columns: 1fr;
  }
}