// Colors
$color-white: #FFFFFF;
$color-black: #000000;

$color-text-main: #000000;
$color-bg-main: #DDDDDD;


// Typography
$ff-main: "Noto Sans", "Arial", sans-serif;


// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;
