@use "/src/styles" as *;

.repository-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  .ant-card-head-wrapper {
    align-items: flex-end;
    gap: 10px;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__extra {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .ant-card-actions {
    margin-top: auto;
  }

}